<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" style="margin-bottom: 1rem;">
      <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" role="presentation"
          routerLinkActive="active">
          <a routerLink="/servers" class="nav-link">Servers</a>
        </li>
        <li class="nav-item" role="presentation"
          routerLinkActive="active">
          <a [routerLink]="['/users']" class="nav-link">Users</a>
        </li>
        <!-- <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/servers">Servers</a></li>
        <li role="presentation"><a href="/users">Users</a></li> -->
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div> -->
</div>
