<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/recipes']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
         (click)="onSelect('recipe')">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/shopping-list"
          routerLinkActive="active"
         (click)="onSelect('shopping-list')">Shopping List</a>
      </li>
      <li class="nav-item dropdown">
        <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" style="cursor: pointer;">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer;">Fetch Data</a>
        </div>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;">Save Data</a></li>
          <li><a style="cursor: pointer;">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
