<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="card" style="width: 18rem; margin: 1rem 0;" *ngFor="let recipe of recipes">
      <img 
      class="card-img-top" 
      [src]="recipe.imagePath"
      [alt]="recipe.name">
      <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>
        <p class="card-text">{{recipe.description}}</p>
      </div>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>